In [1]:
# ques 1
#for loop is used when the number of iterations in known
A=[1,5,7,2,6]
for i in range(len(A)):
    print(A[i])

1
5
7
2
6

In [2]:
# while loop runs until the statement is true
i=0
while i<=len(A)-1:
    print(A[i])
    i=i+1

1
5
7
2
6

In [3]:
#################################################Ques 2#######################################################
sum=0
prod=1
for i in range(1,11):
    sum=sum+i
    prod=prod*i
else :  
    print("sum of first 10 natural numbers is",sum,"and product is",prod)

sum of first 10 natural numbers is 55 and product is 3628800

In [4]:
sum=0
prod=1
i=1
while i<=10:
    sum=sum+i
    prod=prod*i
    i=i+1
else :  
    print("sum of first 10 natural numbers is",sum,"and product is",prod)

sum of first 10 natural numbers is 55 and product is 3628800

In [5]:
#################################################Ques 3#######################################################
units=int(input("Enter units of electricity consumed in a month"))
bill=0
if units<=100:
    bill=100*4.5
    print("bill is",bill)
elif units<=200:
    bill=100*4.5+100*6
    print("bill is",bill)
elif units<=300:
    bill=100*4.5+100*6+100*10
    print("bill is",bill)
else:
    bill=100*4.5+100*6+100*10+(units-300)*20
    print("bill is",bill)

Enter units of electricity consumed in a month 310

bill is 2250.0

In [6]:
#################################################Ques 4#######################################################
A=list(range(1,101))
L=[]
for i in A:
    if (i*i*i)%4==0 or (i*i*i)%5==0:
        L.append(i)
else:
    print(L)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#################################################Ques 4#######################################################
A=list(range(1,101))
L=[]
i=1
while i<=len(A)+1:
    z=i*i*i
    if z%4==0 or z%5==0:
        L.append(i)
    i=i+1
else :
    print(L)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [8]:
#################################################Ques 5#######################################################
string = "I want to become a data scientist"
count=0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o'or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        count=count+1    
else:
    print("numer of vowels are",count)

numer of vowels are 12